@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    height: auto;
    overflow-y: auto;
  }
  
  body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
  }
}
